.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
}

.grid{    
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 1px solid black;
}

.grid > div{
    border: 1px solid gray;
}
